// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
@import url(https://fonts.googleapis.com/css?family=Karla:400,400i,700);
@import url(https://fonts.googleapis.com/css?family=Oxygen|Oxygen+Mono);
@import "components/nav";
@import "components/icons";
@import "components/wiggle";
@import "components/audio_player";

// Font Variables
$roboto-slab: 'Roboto Slab', serif;
$source-sans-pro: 'Source Sans Pro', Helvetica, sans-serif;
$open-sans: 'Open Sans', sans-serif;
$karla: 'Karla', sans-serif;
$oxygen: 'Oxygen', sans-serif;
$oxygen-mono: 'Oxygen Mono', monospace;
$enable-responsive-font-sizes: true;

// Colors
$grey:   #808080;
$red:    #f33;
$white:  #ffffff;
$indigo: #4b0082;
$yellow: #ffff00;
$cyan:   #35bdff;

// Styles
body {
  font-family: $oxygen;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $roboto-slab;
  // font-family: $karla;
  // font-weight: normal;
}

.bigger-text {
  // font-size: 1.01em;
}

.background-colors {
  color: #fff;
  padding: 1px 8px;//0.19em;

  &.red {
    background-color: $red;
  }

  &.grey {
    background-color: $grey;
  }

  &.white {
    background-color: $white;
    color: $red;
  }
}

.icons {
  list-style: none;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 8px;
  border-top: 1px solid $red;
}

#footer {
  cursor: default;
  text-align: center;
  width: 100%;

  .copyright {
    font-size: 0.9em;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      line-height: 1;
      padding: 0 0 0 0.85em;

      &:first-child {
        border-left: 0;
      }
    }
  }
}

.jumbotron {
  background-color: $white;
}

header {
  &.masthead {
    border-bottom: 57px solid $red;
    padding-bottom: 13rem;
    padding-top: 4.41rem;

  }
  // border-bottom: 57px solid #f33;
  // border-bottom: 31px solid #f33;
  // border-bottom: 31px solid #F35F19;
}

#page-heading {
  font-size: 3.99999em;
  // font-size: 3.79999em;
  // font-size: 87.5px;
  // font-size: 57.9px;
}

#page-subheading {}

.split-layout {
  // display: flex;
}

.split-layout-primary {
  padding: 3rem;
  width: 60%;
}

.split-layout-secondary {
  flex-grow: 1;
  width: 40%;
  position: relative;
}

.split-primary-wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 560px;
  width: 100%;
}

@media (min-width: 768px) {
  .h-md-100 {
    height: 100vh;
  }
}

.btn-round {
  border-radius: 30px;
}

.bg-indigo {
  background: $indigo;
}

.bg-red {
  background: $red;
}

.bg-yellow {
  background: $yellow;
}

.text-cyan {
  color: $cyan;
}

.icon-list {
  ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

img {
  &.align-self-start {
    // min-width: 22%;
    max-width: 15%;
    // max-height: 64%;
  }
}

@media (max-width: 768px) {
  .bigger-text {
    // font-size: 1.1em;
  }
}

@media (max-width: 300px) {
  .bigger-text {
    // font-size: 100%;
  }
}
