<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Malachai Frazier - Tech Consultant</title>
    <%#= stylesheet_link_tag "all" %>
    <link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700'
      rel='stylesheet' type='text/css'>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script> -->
   <!-- <link rel="stylesheet" href="assets/stylesheets/css/main.css" /> -->
    <%= stylesheet_link_tag "main" %>
    <noscript><link rel="stylesheet" href="stylesheets/noscript.css" /></noscript>
  </head>

  <body class="is-preload">
    <%= yield %>
    <%= partial "partials/analytics" %>
  </body>

</html>
