<div class="row-fluid mb-5">
  <div class="col-sm-8 col-md-8 col-lg-8 mx-auto" id="contact-card">
    <div class="card border-dark">
      <div class="card-body text-dark">
        <h1 class="card-title text-center">
          Contact me.
        </h1>
        <hr>
        <p class="card-text">
          <%= partial 'partials/contact-form' %>
        </p>
      </div>
    </div>
  </div>
</div>