<%= partial "partials/hero_two" %>

<section id="about" class="about">
  <div class="container">
    <div class="row no-gutters">
      <div class="image col-xl-5 d-flex align-items-stretch justify-content-center
       justify-content-lg-start">
        <img src="assets/images/enhanced-me-full-blank-background.png"
            class="img-fluid">
      </div>

      <div class="col-xl-7 ps-lg-5 pe-lg-1 d-flex align-items-stretch">
        <div class="content d-flex flex-column justify-content-center">
          <h3>👋 Hello!</h3>
            <p class="lead">
              I create art with various mediums;
              music, poetry, graphic design, technology.
            </p>
            <p class="lead">
              As a self-taught, full-stack developer with a deep
              understanding of the entire web development
              process, I love seeing ideas go from concept to live products and services.
            </p>
            <p class="lead">PS. Ruby on Rails is my go-to web development framework 😉 </p>
            <p>
              <a href="https://lanceid.com/malachai?ref=badge" target="_blank">
                <img src="https://lanceid.com/widgets/129"
                  alt="Freelancer Malachai Frazier - Availability Status | LanceID"
                  style="width: 250px; height: 60px;" width="250" height="60" />
              </a>
            </p>
        </div>
      </div>
    </div>
  </div>
</section>
