<footer id="footer" class="mastfoot mt-auto">
  <hr />
  <ul class="inner list-unstyled list-inline">
    <li class="list-inline-item">
      &copy; Malachai Frazier <%= Date.today.year %> of
      <a href="http://fundercove.com/"
       target="_blank" alt="Fundercove" title="Fundercove Link">
        Fundercove, Inc.
      </a>
    </li>

    <li class="list-inline-item">
      <%= Emoji.find_by_alias("mailbox").raw %>
      malachai@fundercove.com
    </li>
  </ul>

  <!-- Scripts -->
  <script>
    if ('addEventListener' in window) {
      window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-preload\b/, ''); });
      document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
    }
  </script>
</footer>