<footer id="footer" class="footer mt-auto py-3">
  <div class="container-fluid">
    <hr />
    <div class="row">
      <ul class="copyright col-sm-12 col-lg-8 ">
        <li>
          &copy; Malachai Frazier <%= Date.today.year %> of
          <a href="http://fundercove.com/"
           target="_blank" alt="Fundercove" title="Fundercove Link">
            Fundercove, Inc.
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- Scripts -->
  <script>
    if ('addEventListener' in window) {
      window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-preload\b/, ''); });
      document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
    }
  </script>
</footer>