<footer id="footer" class="mastfoot mt-auto">
  <hr />
  <ul class="inner list-unstyled list-inline small">
    <li class="list-inline-item">
      &copy; Malachai Frazier <%= Date.today.year %>
    </li>

    <li class="list-inline-item">
      <%= Emoji.find_by_alias("mailbox").raw %>
      chaizer.music@gmail.com
    </li>
  </ul>

  <!-- Scripts -->

</footer>
