<header id="header" class="masthead bg-dark">
  <div class="container-fluid px-3 text-center">
    <!-- Page Heading -->
    <h1 class="text-white mb-4" id="page-heading">
      <span class="background-colors grey">Malachai</span>
      <span class="background-colors red"> Frazier.</span>
    </h1>
    <!-- Page Subheading -->
    <h2 class="text-white mb-4" id="page-subheading" style="font-size: 28px;">
      <%#= Emoji.find_by_alias("man_technologist").raw %>
      <!-- <img src="assets/images/male-technologist-type-5.png" class="male-technologist"> -->
       Web Developer
      <span class="text-danger">·</span>
      Designer <%#= Emoji.find_by_alias("computer").raw %>
    </h2>

    <ul class="icons list-inline mb-0">
      <li class="list-inline-item">
        <a href="https://twitter.com/NerdCodeDad" target="_blank" alt="Twitter">
          <i class="fab fa-twitter fa-2x"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://github.com/malachaifrazier/" target="_blank" alt="Github">
          <i class="fab fa-github fa-2x"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://angel.co/malachai" target="_blank" alt="AngelList">
          <i class="fab fa-angellist fa-2x"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://www.linkedin.com/in/malachaifrazier" target="_blank" alt="LinkedIn">
          <i class="fab fa-linkedin fa-2x"></i>
        </a>
      </li>
    </ul>
    <!-- End of Social Links -->
  </div>
</header><!-- /header -->