<div class="jumbotron">
  <div class="container">
    <h1 class="display-3"><span class="red-background">I'm Malachai Frazier.</span></h1>
    <h3>
      <span class="">Tech Consultant</span>
      <small class="text-muted">
        <span class="d-block d-sm-inline-block">Freelance Web Developer</span>
      </small>
    </h3>
    <p>
      I'm a self-taught, full-stack developer (Ruby on Rails is my go-to framework) with a deep understanding of the entire web development process, including responsive design, development, and deployment to popular hosted platforms (AWS, Heroku, Netlify).
    </p>
    <!-- <p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a>
    </p> -->
  </div>
</div>