<header id="header" class="masthead bg-dark">
  <div class="container-fluid px-3 text-center">
    <!-- Page Heading -->
    <h1 class="text-white mb-4" id="page-heading">
      <span class="background-colors grey">Malachai</span>
      <span class="background-colors red"> Frazier</span>
    </h1>
    <!-- Page Subheading -->
    <h2 class="text-white" id="page-subheading" style="font-size: 28px;">
      Product
      <span class="text-danger">·</span>
      Design
      <span class="text-danger">·</span>
      Music
      <span class="text-danger">·</span>
      Writing
    </h2>

    <%= partial "partials/icons_list_two" %>

  </div>
</header><!-- /header -->
