<ul class="icons list-inline mb-5">
  <li class="list-inline-item">
    <a href="https://open.spotify.com/artist/6ezrdvVQLm8LMW6rCVu0Fv?si=yOh8LGSOT3WLccMFXN7Svg" target="_blank" alt="Spotify">
      <i class="fab fa-spotify fa-2x"></i>
    </a>
  </li>
  <li class="list-inline-item">
    <a href="https://music.apple.com/us/artist/chaizer/1438560797" target="_blank" alt="Apple Music">
      <i class="fa-brands fa-apple fa-2x"></i>
    </a>
  </li>
  <li class="list-inline-item">
    <a href="https://twitter.com/ChaizerMusic" target="_blank" alt="Twitter">
      <i class="fab fa-twitter fa-2x"></i>
    </a>
  </li>
  <li class="list-inline-item">
    <a href="https://github.com/malachaifrazier/" target="_blank" alt="Github">
      <i class="fab fa-github fa-2x"></i>
    </a>
  </li>
  <li class="list-inline-item">
    <a href="https://angel.co/malachai" target="_blank" alt="AngelList">
      <i class="fab fa-angellist fa-2x"></i>
    </a>
  </li>
  <li class="list-inline-item">
    <a href="https://www.linkedin.com/in/malachaifrazier" target="_blank" alt="LinkedIn">
      <i class="fab fa-linkedin fa-2x"></i>
    </a>
  </li>
</ul>
<!-- End of Social Links -->
