<div class="d-md-flex ">
  <!-- First Half -->
  <div class="w-100 h-md-100">
    <div class="text-white h-100 text-center">
      <div class="logoarea pt-5">
        <article class="row-fluid">
          <header class="mx-auto">
            <div class="avatar">
              <img src="assets/images/enhanced me-full-blank-background.png"
                class="img-fluid">
            </div>
          </header>
        </article>

        <article class="row-fluid pt-4 pb-5">
          <header class="col-lg-12 mx-auto">
            <h1 class="">
              That's me.
              <!-- Hide on xs and sm -->
              <span class="d-none d-sm-inline-block d-sm-none d-md-inline-block">
              </span>
            </h1>
          </header>
        </article>

      </div>
    </div>
  </div>

  <!-- Second Half -->
  <div class="w-100 pt-3 bg-white h-md-100">
    <div class="p-5">
      <h3 class="pb-3">
        <span class="background-colors red">
          <%#= Emoji.find_by_alias("moneybag").raw %>
          I help businesses earn more money.
        </span>
      </h3>

      <h3>
        Freelance Technologist & Consultant <%#= Emoji.find_by_alias("necktie").raw %>
      </h3>
      <p class="lead">
        I'm a self-taught, full-stack developer (Ruby on Rails is my go-to
         framework) with a deep understanding of the entire web development
         process, including responsive design, development, and deployment to
         popular hosted platforms (<abbr title="Amazon Web Service" class="initialism">AWS</abbr>, Heroku, Netlify).
      </p>
    </div>
  </div>
</div>

<div class="p-0 text-white background-colors red">
  <div class="p-5">
    <h3 class="pb-5 text-center">
      <span class="background-colors white">
        Services
      </span>
    </h3>

    <div class="container">
      <div class="row">
        <ul class="col list-unstyled">
          <li class="">
            <h3 class="title-secondary">
              <u>Creative & UX</u>
            </h3>
            <ul>
              <li>
                Product Design Sprints
              </li>
              <li>
                Research & Usability Testing
              </li>
              <li>
                User Interface Design
              </li>
            </ul>
          </li>
        </ul>

        <ul class="col list-unstyled">
          <li class="">
            <h3 class="title-secondary">
              <u>Operations</u>
            </h3>
            <ul>
              <li>
                Copywriting
              </li>
              <li>
                Sales
              </li>
              <li>
                Strategy & Direction
              </li>
            </ul>
          </li>
        </ul>

        <ul class="col list-unstyled">
          <li class="">
            <h3 class="title-secondary">
              <u>Software Development</u>
            </h3>
            <ul>
              <li>
                Ruby on Rails
              </li>
              <li>
                React & React Native
              </li>
              <li>
                EmberJS
              </li>
              <li>
                AngularJS
              </li>
              <li>
                Code Audits/Security/Performance
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>

<%= partial "partials/projects_list" %>


