<div class="container my-4">
  <article class="row">
    <header class="col-sm-12 col-lg-8 col-md-8 mx-auto">
      <div class="avatar">
        <img src="assets/images/enhanced me-full-blank-background.png" class="img-thumbnail img-fluid">
      </div>
    </header>
  </article>

  <article class="row pt-4">
    <header class="col-sm-12 col-lg-8 mx-auto">
      <h1 class="">
        That's me.
      </h1>
    </header>
  </article>

  <article class="row pt-1">
    <header class="col-sm-12 col-lg-8 mx-auto ">
      <ul class="icons list-inline ">
        <li class="list-inline-item">
          <u><b>Booked until:</b></u> <span class='red-background'>July 1, 2019</span>
        </li>
      </ul>

      <ul class="icons list-inline ">
        <li class="list-inline-item">
          <a href="https://twitter.com/NerdCodeDad" target="_blank" alt="Twitter">
            <i class="fab fa-twitter fa-2x"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://github.com/malachaifrazier/" target="_blank" alt="Github">
            <i class="fab fa-github fa-2x"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://angel.co/malachai" target="_blank" alt="AngelList">
            <i class="fab fa-angellist fa-2x"></i>
          </a>
        </li>
      </ul>
    </header>
    <main class="text-justify col-sm-12 col-lg-8 mt-4 mx-auto">
      <ul class="icons list-inline ">
        <li class="list-inline-item">
          <a href="https://twitter.com/NerdCodeDad" target="_blank" alt="Twitter">
            <i class="fab fa-twitter fa-2x"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://github.com/malachaifrazier/" target="_blank" alt="Github">
            <i class="fab fa-github fa-2x"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://angel.co/malachai" target="_blank" alt="AngelList">
            <i class="fab fa-angellist fa-2x"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.linkedin.com/in/malachaifrazier" target="_blank" alt="LinkedIn">
            <i class="fab fa-linkedin fa-2x"></i>
          </a>
        </li>
      </ul>

      <p >
        <h3>
          <u>Project Shortlist</u>
          <small class="text-muted">
            <span class="d-block d-sm-inline-block">
              Ruby on Rails & NodeJS Apps
            </span>
          </small>
        </h3>
        <p>Here are some links to a few companies that I've worked on or with in no particular order.
        Usually as a full-stack developer:</p>
        <ol>
          <li>
            <a href="https://www.quikly.com/"
             target="_blank" alt="Quikly" title="Quikly Link">
              Quikly
            </a>
            - Marketing and Advertising Platform - Senior Rails Developer.
          </li>
          <li>
            <a href="https://goslope.com/"
             target="_blank" alt="GoSlope" title="Goslope Link">
              GoSlope
            </a>
            - CMS for Video - Solo Senior Rails Developer.
          </li>
          <li>
            <a href="http://tryskillo.com/"
             target="_blank" alt="Skillo" title="Skillo Link">
              Skillo
            </a>
            - Formally in EdTech, now Content Sharing Platform - Senior Rails Developer (member of team, formally Ginkgotree).
          </li>
          <li>
            <a href="https://www.bostonlogic.com/"
             target="_blank" alt="Bostonlogic" title="Bostonlogic Link">
              Bostonlogic
            </a>
            - Real Estate CRM & CMS - Senior Rails Developer.
          </li>
          <li>
            <a href="https://www.impactmapper.com/"
             target="_blank" alt="Impactmapper" title="Impactmapper Link">
              Impactmapper
            </a>
            - Social Analytics for Non-Profits - Senior Rails Developer.
          </li>
          <li>
            <a href="https://www.avifoodsystems.com/"
             target="_blank" alt="Avi Foodsystems" title="Avi Foodsystems Link">
              Avi Foodsystems
            </a>
            - Hospitality and Food Service - Senior Rails Developer.
          </li>
          <li>
            <a href="https://www.levelsetsolutions.com/"
             target="_blank" alt="LevelSet Solutions" title="LevelSet Solutions Link">
              LevelSet Solutions
            </a>
            - Digital Marketing Agency - Software Engineer with Rails, iOS.
          </li>
          <li>
           <a href="https://www.eflexsystems.com/"
             target="_blank" alt="eFlex Systems" title="eFlex Systems Link">
              eFlex Systems
            </a>
            - Manufacturing and Information Technology - Software Engineer with NodeJS, IoT.
          </li>
          <li>
            <a href="http://fundercove.com/"
             target="_blank" alt="Fundercove" title="Fundercove Link">
              Fundercove
            </a>
             - Crowdfunding and Crowdinvesting Platform - Founder and Solo Ruby on Rails Developer (in active development).
          </li>
        </ol>
      </p>
    </main>
  </article>

  <article class="row pt-4">
    <header class="col-sm-12 col-lg-8 mx-auto ">
      <p class="">When would you like to connect?
        <span class='red-background'>malachai@fundercove.com</span>
      </p>
    </header>
  </article>
</div>

<footer id="footer" class="footer py-3 text-justify mx-auto">
  <div class="container-fluid">
    <hr />
    <div class="row">
      <ul class="copyright col-sm-12 col-lg-8 ">
        <li>
          &copy; Malachai Frazier <%= Date.today.year %> of
          <a href="http://fundercove.com/"
           target="_blank" alt="Fundercove" title="Fundercove Link">
            Fundercove Inc
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- Scripts -->
  <script>
    if ('addEventListener' in window) {
      window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-preload\b/, ''); });
      document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
    }
  </script>

</footer>
