<div class="d-md-flex pt-3 pb-5">
  <div class="w-100 pt-3 bg-white h-lg-100">
    <div class="h-100 text-center">
      <div class="row-fluid">
        <div class="col-sm-8 col-md-8 col-lg-8 mx-auto">
          <div class="card border-dark">
            <!-- <img src="assets/images/pic_of_me.jpeg" class="card-img-top"> -->
            <div class="card-body text-dark">
              <!-- <img src="assets/images/male-technologist-type-5.png" class="male-technologist"> -->
              <h1 class="card-title">
                Hello, there.
              </h1>
              <hr>

              <p class="card-text text-left">
                I'm a self-taught, full-stack developer
                (<a href="https://rubyonrails.org/" alt="Ruby on Rails Framework Link"
                 title="Ruby on Rails Framework" target="_blank">Ruby on Rails</a> is my go-to
                 web framework) with a deep understanding of the entire <span class="mark">web development</span>
                 process, including responsive design, development, and deployment to
                 popular hosted platforms like <abbr title="Amazon Web Service" class="initialism">
                 <a href="https://aws.amazon.com/" alt="AWS Link"
                 title="Amazon Web Service" target="_blank">AWS</a>
                 </abbr>,
                 <a href="https://www.heroku.com/" alt="Heroku PaaS Link"
                 title="Heroku PaaS" target="_blank">Heroku</a> and
                 <a href="https://www.netlify.com/" alt="Netlify Link"
                 title="Netlify" target="_blank">Netlify</a>.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="p-0 bg-white">
  <p class="pb-5 text-center">
    <a class="wiggle btn btn-primary btn-lg m-3" href="/schedule-a-call.html" role="button">
      <%= Emoji.find_by_alias("calendar").raw %>
      Book a call
    </a>

    <a class="wiggle btn btn-success btn-lg m-3" href="/services" role="button">
      <%= Emoji.find_by_alias("muscle").raw %>
      Services
    </a>

    <a class="wiggle btn btn-warning btn-lg m-3" href="/works" role="button">
      <%= Emoji.find_by_alias("computer").raw %>
      My Work
    </a>

    <!-- <a class="wiggle btn btn-primary btn-lg m-4" href="/books" role="button">
      <%#= Emoji.find_by_alias("book").raw %>
      My Book
    </a> -->

    <!-- <a class="wiggle btn btn-primary btn-lg m-5" href="/products" role="button">
      <%#= Emoji.find_by_alias("man_factory_worker").raw %>
      My Products
    </a> -->

    <!-- <a class="wiggle btn btn-primary btn-lg m-5" href="/schedule-a-call.html" role="button">
      <%#= Emoji.find_by_alias("calendar").raw %>
      Schedule a call
    </a> -->
  </p>
</div>


<div class="row-fluid mb-5">
  <div class="col-sm-8 col-md-8 col-lg-8 mx-auto" id="contact-card">
    <div class="card border-dark">
      <div class="card-body text-dark">
        <h1 class="card-title text-center">
          Contact me.
        </h1>
        <hr>
        <p class="card-text">
          <%= partial 'partials/contact-form' %>
        </p>
      </div>
    </div>
  </div>
</div>