<ol class="pl-3">
  <li>
    <a href="https://www.quikly.com/"
     target="_blank" alt="Quikly" title="Quikly Link">
      Quikly
    </a>
    - Marketing and Advertising Platform - Senior <a href="https://rubyonrails.org/" alt="Ruby on Rails Framework Link"
      title="Ruby on Rails Framework" target="_blank">Ruby on Rails</a> Developer.
  </li>
  <li>
    <a href="https://goslope.com/"
     target="_blank" alt="GoSlope" title="Goslope Link">
      GoSlope
    </a>
    - CMS for Video - Solo Senior <a href="https://rubyonrails.org/" alt="Ruby on Rails Framework Link"
      title="Ruby on Rails Framework" target="_blank">Ruby on Rails</a> Developer.
  </li>
  <li>
    <a href="http://tryskillo.com/"
     target="_blank" alt="Skillo" title="Skillo Link">
      Skillo
    </a>
    - Formally in EdTech, now Content Sharing Platform - Senior <a href="https://rubyonrails.org/" alt="Ruby on Rails Framework Link"
      title="Ruby on Rails Framework" target="_blank">Ruby on Rails</a> Developer (member of team, formally Ginkgotree).
  </li>
  <li>
    <a href="https://www.bostonlogic.com/"
     target="_blank" alt="Bostonlogic" title="Bostonlogic Link">
      Bostonlogic
    </a>
    - Real Estate CRM & CMS - Senior <a href="https://rubyonrails.org/" alt="Ruby on Rails Framework Link"
      title="Ruby on Rails Framework" target="_blank">Ruby on Rails</a> Developer.
  </li>
  <li>
    <a href="https://www.impactmapper.com/"
     target="_blank" alt="Impactmapper" title="Impactmapper Link">
      Impactmapper
    </a>
    - Social Analytics for Non-Profits - Senior <a href="https://rubyonrails.org/" alt="Ruby on Rails Framework Link"
      title="Ruby on Rails Framework" target="_blank">Ruby on Rails</a> Developer.
  </li>
  <li>
    <a href="https://www.avifoodsystems.com/"
     target="_blank" alt="Avi Foodsystems" title="Avi Foodsystems Link">
      Avi Foodsystems
    </a>
    - Hospitality and Food Service - Senior <a href="https://rubyonrails.org/" alt="Ruby on Rails Framework Link"
      title="Ruby on Rails Framework" target="_blank">Ruby on Rails</a> Developer.
  </li>
  <li>
    <a href="https://www.levelsetsolutions.com/"
     target="_blank" alt="LevelSet Solutions" title="LevelSet Solutions Link">
      LevelSet Solutions
    </a>
    - Digital Marketing Agency - Software Engineer with <a href="https://rubyonrails.org/" alt="Ruby on Rails Framework Link"
      title="Ruby on Rails Framework" target="_blank">Ruby on Rails</a>,
    <a href="https://www.apple.com/ios/ios-12/" alt="iOS Link"
      title="iOS Framework" target="_blank">iOS</a>.
  </li>
  <li>
   <a href="https://www.eflexsystems.com/"
     target="_blank" alt="eFlex Systems" title="eFlex Systems Link">
      eFlex Systems
    </a>
    - Manufacturing and Information Technology - Software Engineer with
     <a href="https://nodejs.org" alt="NodeJS Foundation Link"
      title="NodeJS Foundation" target="_blank">NodeJS</a>,
      <abbr title="Internet of Things" class="">IoT</abbr>.
  </li>
  <li>
    <a href="http://fundercove.com/"
     target="_blank" alt="Fundercove" title="Fundercove Link">
      Fundercove
    </a>
     - Crowdfunding and Crowdinvesting Platform - Founder and Solo
     <a href="https://rubyonrails.org/" alt="Ruby on Rails Framework Link"
      title="Ruby on Rails Framework" target="_blank">Ruby on Rails</a>
       Developer (in active development).
  </li>

  <li>
    <a href="https://makelovenotporn.tv/"
     target="_blank" alt="MakeLoveNotPorn" title="MakeLoveNotPorn Link">
      MakeLoveNotPorn
    </a>
     - The world's first social sex video-sharing platform -
     <a href="https://rubyonrails.org/" alt="Ruby on Rails Framework Link"
      title="Ruby on Rails Framework" target="_blank">Ruby on Rails</a> Developer,
     <a href="https://golang.org/" alt="Go Programming Language Link"
      title="Go Programming Language" target="_blank">GoLang</a>,
     <a href="https://emberjs.com" alt="EmberJS Framework Link"
      title="EmberJS" target="_blank">EmberJS</a>,
     <a href="https://www.docker.com/" alt="Docker Container Platform Link"
      title="Docker" target="_blank">Docker</a>.
  </li>
</ol>