<div class="p-0 bg-white">
  <div class="p-5">
    <h3 class="pb-3 text-center">
      <span class="background-colors red">
        <%#= Emoji.find_by_alias("love_you_gesture").raw %>
        Projects Shortlist
      </span>
    </h3>

    <p class="lead">
      Here are some links to a few companies that I've worked on or with in no particular order.
      Usually as a full-stack developer:
    </p>


    <ul class="list-unstyled">
      <li class="media my-5">
        <img src="assets/images/logos/team_logo.png" class="mr-3 align-self-start" alt="WorkHands Logo">
        <div class="media-body col-lg-6 col-xl-7 col-sm-12">
          <h5 class="mt-0 mb-1">
            <a href="https://fundercove.com/"
             target="_blank" alt="Fundercove" title="Fundercove Link">
              <u>Fundercove: Crowdfunding and Crowdinvesting Platform.</u>
            </a>
          </h5>
          <p>
            Kickstarter, GofundMe and WeFunder on a single platform.
            <a href="https://rubyonrails.org/" alt="Ruby on Rails Framework Link" title="Ruby on Rails Framework" target="_blank">Ruby on Rails</a>
             Founder and solo-developer.
          </p>
        </div>
      </li>

      <hr>
      <li class="media my-5">
        <img src="assets/images/logos/mlnp-1.png" class="mr-3 align-self-start d-sm-block" alt="MLNP Logo">
        <div class="media-body">
          <h5 class="mt-0 mb-1">
            <a href="https://makelovenotporn.tv/"
             target="_blank" alt="MakeLoveNotPorn" title="MakeLoveNotPorn Link">
              <u>MakeLoveNotPorn: Pro-sex. Pro-porn. Pro-knowing the difference.</u>
            </a>
          </h5>
          The world's first social sex video-sharing platform.
          <a href="https://rubyonrails.org/" alt="Ruby on Rails Framework Link"
          title="Ruby on Rails Framework" target="_blank">Ruby on Rails</a>,
          <a href="https://golang.org/" alt="Go Programming Language Link"
          title="Go Programming Language" target="_blank">GoLang</a>,
          <a href="https://emberjs.com" alt="EmberJS Framework Link"
          title="EmberJS" target="_blank">EmberJS</a>,
          <a href="https://www.docker.com/" alt="Docker Container Platform Link"
          title="Docker" target="_blank">Docker</a>.
        </div>
      </li>

      <hr />
      <li class="media my-5">
        <img src="assets/images/logos/workhands-logo.png" class="mr-3 align-self-start" alt="WorkHands Logo">
        <div class="media-body col-lg-6 col-xl-7 col-sm-12">
          <h5 class="mt-0 mb-1">
           <a href="https://www.workhands.us/"
             target="_blank" alt="WorkHands" title="WorkHands Link">
              <u>WorkHands: Manage your apprenticeship from anywhere.</u>
            </a>
          </h5>
          WorkHands allows apprenticeship programs to track apprentices on-the-job and related instruction online and from web and mobile apps.
          <a href="https://rubyonrails.org/" alt="Ruby on Rails Framework Link"
          title="Ruby on Rails Framework" target="_blank">Ruby on Rails</a>,
          <a href="https://angularjs.org/" alt="AngularJS Framework Link"
          title="AngularJS" target="_blank">AngularJS</a>
        </div>
      </li>

      <hr>
      <li class="media my-5">
        <img src="assets/images/logos/eflex-logo-2.png" class="mr-3 align-self-start" alt="WorkHands Logo">
        <div class="media-body col-lg-6 col-xl-7 col-sm-12">
          <h5 class="mt-0 mb-1">
           <a href="https://www.eflexsystems.com/"
             target="_blank" alt="eFlex Systems" title="eFlex Systems Link">
              <u>eFlex Systems: Manufacturing Integrated Platform.</u>
            </a>
          </h5>
          eFlex Systems is a leader in the design and implementation of advanced technology and world-class assembly optimization solutions for the manufacturing and information technology markets.
          <a href="https://nodejs.org" alt="NodeJS Foundation Link" title="NodeJS Foundation" target="_blank">NodeJS</a>,
          <abbr title="Internet of Things" class="">IoT</abbr>.
        </div>
      </li>

      <hr>
      <li class="media my-5">
        <img src="assets/images/logos/Quikly.svg" class="mr-3 align-self-start" alt="Quikly Logo">
        <div class="media-body col-lg-6 col-xl-7 col-sm-12">
          <h5 class="mt-0 mb-1">
            <a href="https://www.quikly.com/"
             target="_blank" alt="Quikly" title="Quikly Link">
              <u>Quikly - Marketing and Advertising Platform.</u>
            </a>
          </h5>
          <p>
            Leading consumer brands use the marketing platform to run frequent, highly-targeted campaigns that reward new and existing customers for acting fast. Senior <a href="https://rubyonrails.org/" alt="Ruby on Rails Framework Link"
          title="Ruby on Rails Framework" target="_blank">Ruby on Rails</a> Developer.
          </p>
        </div>
      </li>

      <hr>
      <li class="media my-5">
        <img src="assets/images/logos/goslope.jpg" class="mr-3 align-self-start" alt="GoSlope Logo">
        <div class="media-body col-lg-6 col-xl-7 col-sm-12">
          <h5 class="mt-0 mb-1">
            <a href="https://www.goslope.com"
             target="_blank" alt="GoSlope" title="Goslope Link">
              <u>GoSlope</u>
            </a>
          </h5>
          <p>
            Slope is a software tool that makes it easy for marketing and creative teams to manage work requests, plan projects, and collaborate on content. - Solo Senior <a href="https://rubyonrails.org/" alt="Ruby on Rails Framework Link"
          title="Ruby on Rails Framework" target="_blank">Ruby on Rails</a> Developer. Acquired by <a href="https://www.smartsheet.com/content-center/news/smartsheet-acquires-slope-enhance-creative-content-review-proofing-and-approval" title="Smartheet Link">Smartsheet.</a>
          </p>
        </div>
      </li>

      <hr>
      <li class="media my-5">
        <img src="assets/images/logos/skillio-logo.png" class="mr-3 align-self-start" alt="Skillio Logo">
        <div class="media-body col-lg-6 col-xl-7 col-sm-12">
          <h5 class="mt-0 mb-1">
            <a href="http://tryskillo.com/" target="_blank" alt="Skillo" title="Skillo Link">
              <u>Skillo</u>
            </a>
          </h5>
          <p>
            Formally in EdTech, now Skillo is a modern platform for training your staff - Senior <a href="https://rubyonrails.org/" alt="Ruby on Rails Framework Link"
          title="Ruby on Rails Framework" target="_blank">Ruby on Rails</a> Developer (member of team, formally Ginkgotree).
          </p>
        </div>
      </li>

      <hr>
      <li class="media my-5">
        <img src="assets/images/logos/Bostonlogic.png" class="mr-3 align-self-start" alt="Bostonlogic Logo">
        <div class="media-body col-lg-6 col-xl-7 col-sm-12">
          <h5 class="mt-0 mb-1">
            <a href="https://www.bostonlogic.com/" target="_blank" alt="Bostonlogic" title="Bostonlogic Link">
              <u>Bostonlogic</u>
            </a>
          </h5>
          <p>
            Boston Logic by Propertybase - Real Estate Platform for websites, transaction tools, CRM & CMS - Senior <a href="https://rubyonrails.org/" alt="Ruby on Rails Framework Link" title="Ruby on Rails Framework" target="_blank">Ruby on Rails</a> Developer.
          </p>
        </div>
      </li>

      <hr>
      <li class="media my-5">
        <img src="assets/images/logos/impactmapper.png" class="mr-3 align-self-start" alt="Impactmapper Logo">
        <div class="media-body col-lg-6 col-xl-7 col-sm-12">
          <h5 class="mt-0 mb-1">
            <a href="https://www.impactmapper.com/"
             target="_blank" alt="Impactmapper" title="Impactmapper Link">
              <u>Impactmapper</u>
            </a>
          </h5>
          <p>
            Social Analytics for Non-Profits - Senior <a href="https://rubyonrails.org/" alt="Ruby on Rails Framework Link" title="Ruby on Rails Framework" target="_blank">Ruby on Rails</a> Developer.
          </p>
        </div>
      </li>

      <hr>
      <li class="media my-5">
        <img src="assets/images/logos/avifoodsystems.png" class="mr-3 align-self-start" alt="avifoodsystems Logo">
        <div class="media-body col-lg-6 col-xl-7 col-sm-12">
          <h5 class="mt-0 mb-1">
            <a href="https://www.avifoodsystems.com/"
             target="_blank" alt="Avi Foodsystems" title="Avi Foodsystems Link">
              <u>Avi Foodsystems</u>
            </a>
          </h5>
          <p>
            Hospitality and Food Service - Senior <a href="https://rubyonrails.org/" alt="Ruby on Rails Framework Link" title="Ruby on Rails Framework" target="_blank">Ruby on Rails</a> Developer.
          </p>
        </div>
      </li>

    </ul>
  </div>

  <p class="pb-5 text-center">
    <a class="wiggle btn btn-primary btn-lg " href="/schedule-a-call.html" role="button">
      <%#= Emoji.find_by_alias("calendar").raw %>
      Schedule a call
    </a>
  </p>
</div>
