<div class="container-fluid p-0 background-colors red">
  <div class="p-5">
    <h3 class="pb-5 text-center">
      <span class="background-colors white">
        <%#= Emoji.find_by_alias("fire").raw %>
        Services
      </span>
    </h3>

    <div class="row mx-auto">
      <ul class="col list-unstyled">
        <li class="">
          <h3 class="title-secondary">
            <%#= Emoji.find_by_alias("paintbrush").raw %>
            <u >Creative & UX</u>
          </h3>
          <ul>
            <li>
              Product Design Sprints
            </li>
            <li>
              Research & Usability Testing
            </li>
            <li>
              User Interface Design
            </li>
          </ul>
        </li>
      </ul>

      <ul class="col list-unstyled">
        <li class="">
          <h3 class="title-secondary">
            <%#= Emoji.find_by_alias("memo").raw %>
            <u>Operations</u>
          </h3>
          <ul>
            <li>
              Copywriting
            </li>
            <li>
              Sales
            </li>
            <li>
              Strategy & Direction
            </li>
          </ul>
        </li>
      </ul>

      <ul class="col list-unstyled">
        <li class="">
          <h3 class="title-secondary">
            <%#= Emoji.find_by_alias("desktop_computer").raw %>
            <u>Engineering</u>
          </h3>
          <ul>
            <li>
              Ruby on Rails Specialization
            </li>
            <li>
              Frontend Frameworks <small>(React, EmberJS, AngularJS, Bootstrap)</small>
            </li>
            <li>
              Code Audits/Security/Performance
            </li>
          </ul>
        </li>
      </ul>
    </div>

  </div>
</div>
