<div class="container-fluid">
  <hr />
</div>

<div class="container">
  <article class="row-fluid">
    <header class="col-sm-12 col-lg-8 col-md-8 mx-auto">
      <div class="avatar">
        <img src="assets/images/avatar.jpg" class="img-thumbnail d-block">
      </div>
    </header>
  </article>

  <article class="row-fluid pt-4">
    <header class="col-sm-12 col-lg-8 mx-auto">
      <h1 class="">
        Malachai Frazier
      </h1>
<!--       <h3>
        Tech Consultant
        <small class="text-muted">Freelance Web Developer</small>
      </h3> -->
    </header>
  </article>

  <article class="row-fluid pt-1">
    <header class="col-sm-12 col-lg-8 mx-auto ">
      <ul class="icons list-inline ">
        <li class="list-inline-item">
          <u><b>Booked until:</b></u> <span class='red-background'>July 1, 2019</span>
        </li>
      </ul>

      <ul class="icons list-inline ">
        <li class="list-inline-item">
          <a href="https://twitter.com/NerdCodeDad" target="_blank" alt="Twitter">
            <i class="fab fa-twitter fa-2x"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://github.com/malachaifrazier/" target="_blank" alt="Github">
            <i class="fab fa-github fa-2x"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://angel.co/malachai" target="_blank" alt="AngelList">
            <i class="fab fa-angellist fa-2x"></i>
          </a>
        </li>
      </ul>
    </header>

    <!-- <p class="text-justify col-sm-12 col-lg-8 mt-4 mx-auto">
      <u>Currently Booked until</u> <span class='red-background'>July 1, 2019</span>
    </p> -->
    <main class="text-justify col-sm-12 col-lg-8 mt-4 mx-auto">
      <h3>
        <u>Tech Consultant</u>
        <small class="text-muted">
          <!-- <span class="d-none d-md-inline-block">Freelance</span> -->
          <span class="d-block d-sm-inline-block">Freelance Web Developer</span>
        </small>
      </h3>
      <p>
        I'm a self-taught, full-stack developer (Ruby on Rails is my go-to
         framework) with a deep understanding of the entire web development
         process, including responsive design, development, and deployment to
         popular hosted platforms (AWS, Heroku, Netlify).
      </p>

      <p >
        I take great enjoyment in finding and fixing bugs (Rspec is fantastic) and making folks happy.
      </p>

      <p >
        <h3>
          <u>Project Shortlist</u>
          <small class="text-muted">
            <span class="d-block d-sm-inline-block">
              Ruby on Rails & NodeJS Apps
            </span>
          </small>
        </h3>
        <p>Here are some links to a few companies that I've worked on in some capacity.
        Usually as a full-stack developer:</p>
        <ol>
          <li>
            https://www.quikly.com/ - Marketing and Advertising Platform - Senior Rails Developer (member of team)
          </li>
          <li>
            https://goslope.com/ - CMS for video - Solo Senior Rails Developer
          </li>
          <li>
            http://tryskillo.com/ - Learning Management System and EdTech Platform - Senior Rails Developer (member of team, formally Ginkgotree Inc.)
          </li>
          <li>
            http://www.bostonlogic.com/ - Real Estate CRM & CMS - Senior Rails Developer (member of team)
          </li>
          <li>
            http://www.impactmapper.com/ - Social Analytics for Non-Profits - Senior Rails Developer (member of team)
          </li>
        </ol>
      </p>
    </main>
  </article>

  <article class="row-fluid pt-4">
    <header class="col-sm-12 col-lg-8 mx-auto ">
      <p class="">When would you like to connect?
        <span class='red-background'>malachai@fundercove.com</span>
      </p>
    </header>
  </article>
</div>

<footer id="footer" class="footer mt-auto py-3">
  <div class="container-fluid">
    <hr />
    <div class="row">
      <ul class="copyright col-sm-12 col-lg-8 ">
        <li>
          &copy; Malachai Frazier <%= Date.today.year %> of
          <a href="http://fundercove.com/"
           target="_blank" alt="Fundercove" title="Fundercove Link">
            Fundercove Inc
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- Scripts -->
  <script>
    if ('addEventListener' in window) {
      window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-preload\b/, ''); });
      document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
    }
  </script>
</footer>
