<div class="container">
  <h1 class="display-4 text-center pt-5">
    eBook: How To F*ck Up.
  </h1>

  <div class="row">
    <div class="col mt-5">
      <script src="https://gumroad.com/js/gumroad-embed.js"></script>
      <div class="gumroad-product-embed" data-gumroad-product-id="htfup">
        <a href="https://gumroad.com/l/htfup">Loading...</a>
      </div>
    </div>
  </div>

  <div class="p-0 bg-white">
    <p class="pb-5 text-center">
      <a class="wiggle btn btn-danger btn-lg m-4" href="/schedule-a-call.html" role="button">
        Book a call
      </a>

      <a class="wiggle btn btn-primary btn-lg m-4" href="/services" role="button">
        My Services
      </a>

      <a class="wiggle btn btn-primary btn-lg m-4" href="/works" role="button">
        My Work
      </a>

      <a class="wiggle btn btn-primary btn-lg m-4" href="/products" role="button">
        My Products
      </a>
    </p>
  </div>
</div>
