<div class="container h-100">
  <h1 class="display-3 text-center pt-5">
    Contact Me.
  </h1>

  <ul class="mb-4 text-center list-inline">
    <li class="list-inline-item">
      <a href="https://twitter.com/NerdCodeDad" target="_blank" alt="Twitter">
        <i class="fab fa-twitter fa-2x"></i>
      </a>
    </li>
    <li class="list-inline-item">
      <a href="https://github.com/malachaifrazier/" target="_blank" alt="Github">
        <i class="fab fa-github fa-2x"></i>
      </a>
    </li>
    <li class="list-inline-item">
      <a href="https://angel.co/malachai" target="_blank" alt="AngelList">
        <i class="fab fa-angellist fa-2x"></i>
      </a>
    </li>
    <li class="list-inline-item">
      <a href="https://www.linkedin.com/in/malachaifrazier" target="_blank" alt="LinkedIn">
        <i class="fab fa-linkedin fa-2x"></i>
      </a>
    </li>
  </ul>
  <!-- End of Social Links -->

  <div class="row mb-5">
    <div class="col mx-auto" id="contact-card">
      <div class="card border-dark">
        <div class="card-body text-dark">
          <p class="card-text">
            <%= partial 'partials/contact-form' %>
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
