<div class="container h-100">
  <h1 class="display-3 text-center pt-5">
    Software Products & Projects.
    <%#= Emoji.find_by_alias("nerd_face").raw %>
  </h1>

  <p class="lead text-center mb-5">
    Coming soon.
  </p>

  <div class="p-0 bg-white">
    <p class="pb-5 text-center">
      <a class="wiggle btn btn-danger btn-lg m-4" href="/schedule-a-call.html" role="button">
        <%#= Emoji.find_by_alias("calendar").raw %>
        Book a call
      </a>

      <a class="wiggle btn btn-primary btn-lg m-4" href="/services" role="button">
        <%#= Emoji.find_by_alias("muscle").raw %>
        My Services
      </a>

      <!-- <a class="wiggle btn btn-primary btn-lg m-4" href="/books" role="button">
        <%#= Emoji.find_by_alias("book").raw %>
        My Book
      </a> -->

      <a class="wiggle btn btn-primary btn-lg m-4" href="/works" role="button">
        <%#= Emoji.find_by_alias("computer").raw %>
        My Work
      </a>
    </p>
  </div>

</div>

