<div class="container h-100">
  <h1 class="display-3 text-center pt-5">
    Software Products & Projects.
    <%#= Emoji.find_by_alias("nerd_face").raw %>
  </h1>

  <p class="lead text-center mb-5">
    <!-- Coming soon. --> HTML5 PLayer demo below.
  </p>

  <div class="row" id="single-song-player">
    <div class="col">
      <img data-amplitude-song-info="cover_art_url" class=""/>
    </div>

    <div class="bottom-container col">
      <progress class="amplitude-song-played-progress" id="song-played-progress"></progress>

      <div class="time-container">
        <span class="current-time">
          <span class="amplitude-current-minutes"></span>:<span class="amplitude-current-seconds"></span>
        </span>
        <!-- <span class="duration">
          <span class="amplitude-duration-minutes"></span>:<span class="amplitude-duration-seconds"></span>
        </span> -->
      </div>

      <div class="control-container">
        <div class="amplitude-play-pause" id="play-pause"></div>
        <div class="meta-container">
          <span data-amplitude-song-info="name" class="song-name"></span>
          <span data-amplitude-song-info="artist"></span>
        </div>
      </div>

    </div>

  </div>

  <div class="p-0 bg-white">
    <p class="pb-5 text-center">
      <a class="wiggle btn btn-danger btn-lg m-4" href="/schedule-a-call.html" role="button">
        <%= Emoji.find_by_alias("calendar").raw %>
        Book a call
      </a>

      <a class="wiggle btn btn-primary btn-lg m-4" href="/services" role="button">
        <%= Emoji.find_by_alias("muscle").raw %>
        My Services
      </a>

      <a class="wiggle btn btn-primary btn-lg m-4" href="/books" role="button">
        <%= Emoji.find_by_alias("book").raw %>
        My Book
      </a>

      <a class="wiggle btn btn-primary btn-lg m-4" href="/works" role="button">
        <%= Emoji.find_by_alias("computer").raw %>
        My Work
      </a>
    </p>
  </div>

</div>

