<div class="container h-100">
  <h1 class="display-3 text-center pt-5">
    💼 Resume
  </h1>

  <p class="lead text-center mb-5">
    <span class="small">
      Open in
      <a
        target="_blank"
        href="https://docs.google.com/document/d/1QerDKKlVJ0nXjqoIWhioMxwC5AFc2bCdeGbX0gKrHvo/edit?usp=sharing">
        Google Docs
      </a>.
    </span>
  </p>

  <div class="row">
    <iframe style="min-width:320px;height:580px;overflow:hidden" src="https://docs.google.com/document/d/e/2PACX-1vT1ikutav1t5BPqol_bZpxpL6bn3-5smzmfKM_zGMreduUA1CUpUW_evZWoC0U1ADQzrtH2OAvpGggd/pub?embedded=true"></iframe>
  </div>
</div>