<div class="container">
  <h1 class="display-3 text-center pt-4">
    Things I've Worked On.
    <%#= Emoji.find_by_alias("nerd_face").raw %>
  </h1>
  <p class="lead text-center mb-5">
    <span class="small">
      A non-exhaustive list. <br>
      In no particular order. All links open in a new browser window.
    </span>
  </p>

  <div class="row card-deck">
    <div id="fundercove-card" class="card border-dark m-1">
      <div class="card-body text-dark">
        <span class="badge badge-danger">Founder</span>
        <h4 class="card-title">
          <a href="https://www.fundercove.com/" target="_blank" alt="Fundercove" title="Fundercove Link">
            <u>Fundercove</u> ↗️
          </a>
        </h4>
        <h6 class="card-subtitle mb-2 text-muted">Crowdfunding and Crowdinvesting Platform.</h6>
        <hr>
        <p class="card-text">
          Kickstarter, GoFundMe and WeFunder on a single platform.
        </p>
      </div>
      <div class="card-footer bg-transparent">
        Solo <a href="https://rubyonrails.org/" alt="Ruby on Rails Framework Link"
        title="Ruby on Rails Framework" target="_blank">Ruby on Rails</a> Developer and Founder.
      </div>
    </div>

    <div id="mlnp-card" class="card border-dark m-1">
      <div class="card-body text-dark">
        <span class="badge badge-success">Contractor</span>
        <h4 class="card-title">
          <a href="https://makelovenotporn.tv/"
           target="_blank" alt="MakeLoveNotPorn" title="MakeLoveNotPorn Link">
            <u>MakeLoveNotPorn</u> ↗️
          </a>
        </h4>
        <h6 class="card-subtitle mb-2 text-muted">The world's first social sex video-sharing platform.</h6>
        <hr>
        <p class="card-text">
          Pro-sex. Pro-porn. Pro-knowing the difference.
        </p>
      </div>
      <div class="card-footer bg-transparent">
        Solo <a href="https://rubyonrails.org/" alt="Ruby on Rails Framework Link"
        title="Ruby on Rails Framework" target="_blank">Ruby on Rails</a> Developer,
        <a href="https://golang.org/" alt="Go Programming Language Link"
        title="Go Programming Language" target="_blank">GoLang</a>,
        <a href="https://emberjs.com" alt="EmberJS Framework Link"
        title="EmberJS" target="_blank">EmberJS</a>,
        <a href="https://www.docker.com/" alt="Docker Container Platform Link"
        title="Docker" target="_blank">Docker</a>
      </div>
    </div>

    <div id="avi-card" class="card border-dark m-1">
      <div class="card-body text-dark">
        <span class="badge badge-info">Employee</span>
        <h4 class="card-title">
          <a href="https://www.avifoodsystems.com/"
           target="_blank" alt="Avi Foodsystems" title="Avi Foodsystems Link">
            <u>Avi Foodsystems</u> ↗️
          </a>
        </h4>
        <h6 class="card-subtitle mb-2 text-muted">Hospitality and Food Service.</h6>
        <hr>
        <p class="card-text">
          Family-owned and operated food and hospitality provider.
        </p>
      </div>
      <div class="card-footer bg-transparent">
        Senior <a href="https://rubyonrails.org/" alt="Ruby on Rails Framework Link" title="Ruby on Rails Framework" target="_blank">Ruby on Rails</a> Developer.
      </div>
    </div>
  </div>

  <div class="row card-deck">
    <div id="eflex-card" class="card border-dark m-1">
      <div class="card-body text-dark">
        <span class="badge badge-info">Employee</span>
        <h4 class="card-title">
         <a href="https://www.eflexsystems.com/"
           target="_blank" alt="eFlex Systems" title="eFlex Systems Link">
            <u>eFlex Systems.</u> ↗️
          </a>
        </h4>
        <h6 class="card-subtitle mb-2 text-muted">Manufacturing Integrated Platform.</h6>
        <hr>
        <p class="card-text">
          eFlex Systems is a leader in the design and implementation of advanced technology and world-class assembly optimization solutions for the manufacturing and information technology markets.
        </p>
      </div>
      <div class="card-footer bg-transparent">
        <a href="https://nodejs.org" alt="NodeJS Foundation Link" title="NodeJS Foundation" target="_blank">NodeJS</a>,
        <abbr title="Internet of Things" class="">IoT</abbr>.
      </div>
    </div>

    <div id="slope-card" class="card border-dark m-1">
      <div class="card-body text-dark">
        <span class="badge badge-info">Employee</span>
        <h4 class="card-title">
          <a href="https://www.goslope.com"
           target="_blank" alt="GoSlope" title="Goslope Link">
            <u>GoSlope</u> ↗️
          </a>
        </h4>
        <h6 class="card-subtitle mb-2 text-muted">Easily manage your creative work.</h6>
        <hr>
        <p class="card-text">
          Slope is a software tool that makes it easy for marketing and creative teams to manage work requests, plan projects, and collaborate on content.
        </p>
      </div>
      <div class="card-footer bg-transparent">
        Solo Senior <a href="https://rubyonrails.org/" alt="Ruby on Rails Framework Link"
        title="Ruby on Rails Framework" target="_blank">Ruby on Rails</a> Developer. Acquired by <a href="https://www.smartsheet.com/content-center/news/smartsheet-acquires-slope-enhance-creative-content-review-proofing-and-approval" title="Smartheet Link">Smartsheet.</a>
      </div>
    </div>

    <div id="quikly-card" class="card border-dark m-1">
      <div class="card-body text-dark">
        <span class="badge badge-info">Employee</span>
        <h4 class="card-title">
          <a href="https://www.quikly.com/"
           target="_blank" alt="Quikly" title="Quikly Link">
            <u>Quikly</u> ↗️
          </a>
        </h4>
        <h6 class="card-subtitle mb-2 text-muted">Marketing and Advertising Platform.</h6>
        <hr>
        <p class="card-text">
          Leading consumer brands use the marketing platform to run frequent, highly-targeted campaigns that reward new and existing customers for acting fast.
        </p>
      </div>
      <div class="card-footer bg-transparent">
        Senior <a href="https://rubyonrails.org/" alt="Ruby on Rails Framework Link"
        title="Ruby on Rails Framework" target="_blank">Ruby on Rails</a> Developer,
        <a href="https://angularjs.org/" alt="AngularJS Framework Link"
          title="AngularJS" target="_blank">AngularJS</a>
      </div>
    </div>
  </div>

  <div class="row card-deck">
    <div id="skillio-card" class="card border-dark m-1">
      <div class="card-body text-dark">
        <span class="badge badge-info">Employee</span>
        <h4 class="card-title">
          <a href="http://tryskillo.com/" target="_blank" alt="Skillo" title="Skillo Link">
            <u>Skillo</u> ↗️
          </a>
        </h4>
        <h6 class="card-subtitle mb-2 text-muted">Bring sanity to the way you design and deliver training.</h6>
        <hr>
        <p class="card-text">
          Formally in EdTech, now Skillo is a modern platform for training your staff.
        </p>
      </div>
      <div class="card-footer bg-transparent">
        Senior <a href="https://rubyonrails.org/" alt="Ruby on Rails Framework Link"
        title="Ruby on Rails Framework" target="_blank">Ruby on Rails</a> Developer (formally Ginkgotree Inc).
      </div>
    </div>

    <div id="boston-logic-card" class="card border-dark m-1">
      <div class="card-body text-dark">
        <span class="badge badge-info">Employee</span>
        <h4 class="card-title">
          <a href="https://www.bostonlogic.com/" target="_blank" alt="Bostonlogic" title="Bostonlogic Link">
            <u>Bostonlogic</u> ↗️
          </a>
        </h4>
        <h6 class="card-subtitle mb-2 text-muted">Boston Logic by Propertybase.</h6>
        <hr>
        <p class="card-text">
          Real Estate Platform for websites, transaction tools, CRM & CMS
        </p>
      </div>
      <div class="card-footer bg-transparent">
        Senior <a href="https://rubyonrails.org/" alt="Ruby on Rails Framework Link" title="Ruby on Rails Framework" target="_blank">Ruby on Rails</a> Developer.
      </div>
    </div>

    <div id="impactmapper-card" class="card border-dark m-1">
      <div class="card-body text-dark">
        <span class="badge badge-success">Contractor</span>
        <h4 class="card-title">
           <a href="https://www.impactmapper.com/"
           target="_blank" alt="Impactmapper" title="Impactmapper Link">
            <u>Impactmapper</u> ↗️
          </a>
        </h4>
        <h6 class="card-subtitle mb-2 text-muted">Social Analytics for Non-Profits.</h6>
        <hr>
        <p class="card-text">
          Analytics for Tracking Social Impact.
        </p>
      </div>
      <div class="card-footer bg-transparent">
        Senior <a href="https://rubyonrails.org/" alt="Ruby on Rails Framework Link" title="Ruby on Rails Framework" target="_blank">Ruby on Rails</a> Developer.
      </div>
    </div>
  </div>

<!--   <div class="row card-deck">
    <div id="avi-card" class="card border-dark m-1">
      <div class="card-body text-dark">
        <h4 class="card-title">
          <a href="https://www.avifoodsystems.com/"
           target="_blank" alt="Avi Foodsystems" title="Avi Foodsystems Link">
            <u>Avi Foodsystems</u>
          </a>
        </h4>
        <h6 class="card-subtitle mb-2 text-muted">Hospitality and Food Service.</h6>
        <hr>
        <p class="card-text">
          Family-owned and operated food and hospitality provider.
        </p>
      </div>
      <div class="card-footer bg-transparent">
        Senior <a href="https://rubyonrails.org/" alt="Ruby on Rails Framework Link" title="Ruby on Rails Framework" target="_blank">Ruby on Rails</a> Developer.
      </div>
    </div>
  </div> -->

  <div class="p-0 bg-white">
    <p class="pb-5 text-center">
      <a class="wiggle btn btn-danger btn-lg m-4" href="/schedule-a-call.html" role="button">
        <%#= Emoji.find_by_alias("calendar").raw %>
        Book a call
      </a>

      <a class="wiggle btn btn-primary btn-lg m-4" href="/services" role="button">
        <%#= Emoji.find_by_alias("muscle").raw %>
        My Services
      </a>

      <!-- <a class="wiggle btn btn-primary btn-lg m-4" href="/books" role="button">
        <%#= Emoji.find_by_alias("book").raw %>
        My Book
      </a> -->

      <a class="wiggle btn btn-primary btn-lg m-4" href="/products" role="button">
        <%#= Emoji.find_by_alias("man_factory_worker").raw %>
        My Products
      </a>
    </p>
  </div>

</div>


